# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# User-specific files
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# OS junk
.DS_Store
Thumbs.db

# IDE stuff
.vscode/
.idea/

# Crash reports
sysinfo.txt

# Large files (optional if using Git LFS)
*.zip
*.mp4
*.wav
*.psd